<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<div th:replace="header :: myheader"></div>
</head>
<body>
<nav th:insert="navbar :: navbar"></nav>

	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item"><a class="nav-link" href="/index">Flight</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/rent">Rent
						Car</a></li>
				<li class="nav-item"><a class="nav-link" href="/shuttle">Shuttle</a>
				</li>
				<li class="nav-item"><a class="nav-link active" href="/hotel">Hotel</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h3>Do you want to book a hotel room?</h3>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="bookHotel" id="yes"
					value="yes"> <label class="form-check-label" for="yes">
					Yes </label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="bookHotel" id="no"
					value="no"> <label class="form-check-label" for="no">
					No </label>
			</div>
			<div class="form-row dates" id="calendar">
               <div class="form-group col-md-5">
                  <label for="check-in">Check-in Date</label> <input type="date"
                     id="check-in" name="check-in">
               </div>
               <div class="form-group col-md-5">
                  <label for="check-out">Check-out Date</label> <input type="date"
                     id="check-out" name="check-out">
               </div>
            </div>
			<a href="#" class="btn btn-warning">Submit</a>
		</div>

	</div>
</body>
</html>