<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<div th:replace="header :: myheader"></div>
</head>
<body>

	<nav th:insert="navbar :: navbar"></nav>
	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item"><a class="nav-link active" href="/index">Flight</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/rent">Rent
						Car</a></li>
				<li class="nav-item"><a class="nav-link" href="/shuttle">Shuttle</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/hotel">Hotel</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<form action="/searchResult" method="GET" id="searchForm" >
				<div class="form-row">
					<div class="form-group col-md-6" id="fromAirportCity">
						<label for="inputFrom">From</label> 
						<input type="text" class="form-control" id="inputFrom" placeholder="Where are you flying from?" /> 
						<input type="hidden" id="inputFromId" name="from" />
						<p class="invalid-feedback" id="invalidFrom"> Please, enter valid airport </p>
					</div>
					<div class="form-group col-md-6" id="toAirportCity">
						<label for="inputTo">To</label> <input type="text"
							class="form-control" id="inputTo" placeholder="Where are you flying to?" required/>
						<input type="hidden" id="inputToId" name="to" />
						<p class="invalid-feedback" id="invalidTo"> Please, enter valid airport </p>
						
					</div>
				</div>
				<div class="form-row dates">
					<div class="form-group col-md-5" id="depart">
						<label for="departure">Departure Date</label> 
						<input type="date" id="departure" name="departure" required>
						<p class="invalid-feedback" id="invalidDeparture"> Please, enter valid date </p>				
					</div>
					
					<div class="form-group col-md-5" id="returnDate">
						<label for="return">Return Date</label> <input type="date"
							id="return" name="return" required>
					   <p class="invalid-feedback" id="invalidReturn"> Please, enter valid date </p>	
					</div>
				</div>
			</form>
			<a href="/searchResult" class="btn btn-warning"
				onclick="validateAndSubmit();return false;" id="search-btn">Search
				Flight</a>
		</div>
	</div>
<script>	$(document).ready(function() { 
      initializeIndexPage();
   });
</script>	
</body>
</html>