<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<div th:replace="header :: myheader"></div>
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light"
      style="background-color: #ccebff;">
      <a class="navbar-brand" href="#"> <img src="/image/logo.png"
         width="30" height="30" class="d-inline-block align-top" alt=""
         style="background-color: #ccebff;"> Flights
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
         aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav">
            <li class="nav-item "><a class="nav-link active" href="#">Home
                  <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
         </ul>
      </div>
      <form class="form-inline">
         <input class="form-control mr-sm-2" type="search"
            placeholder="Search" aria-label="Search">
         <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
      </form>
   </nav>

   <div class="card">
      <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" href="/index">Flight</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/rent">Rent
                  Car</a></li>
            <li class="nav-item"><a class="nav-link" href="/shuttle">Shuttle</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/hotel">Hotel</a>
            </li>
         </ul>
      </div>
      <div class="card-body">
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputFrom">From</label> <input type="text"
							class="form-control" id="inputFrom"
							placeholder="San Francisco, SFO">
					</div>
					<div class="form-group col-md-6">
						<label for="inputTo">To</label> <input type="text"
							class="form-control" id="inputTo" placeholder="Los Angeles, LAX">
					</div>
				</div>
				<div class="form-row dates">
					<div class="form-group col-md-5">
						<label for="departure">Departure Date</label> <input type="date"
							id="departure" name="departure">
					</div>
					<div class="form-group col-md-5">
						<label for="return">Return Date</label> <input type="date"
							id="return" name="return">
					</div>
				</div>
			</form>
			<a href="#" class="btn btn-warning">Search Flight</a>
		</div>
	</div>
</body>
</html>